* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  padding: 40px 20px 40px 20px;
}
.wrapper {
  background-color: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}
.main-conteiner {
  padding: 60px 90px 60px 90px;
}
.contacts-conteiner {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #b7babf;
}
.contacts-title-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}
.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.tech-skills-conteiner {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.tech-skills-text {
  color: #b7babf;
}
.soft-skills-conteiner {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.soft-skills-text {
  color: #b7babf;
}
.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  color: #000;
}
.info-conteiner {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.dots {
  color: #b1b1b1;
  font-weight: 100;
}
.project-item {
  font-weight: 700;
  margin-left: 17px;
}
.project-descr {
  font-weight: 400;
  font-size: 14px;
}
.projects-conteiner {
  margin-bottom: 55px;
}
.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff7519;
}
.profession-time {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profession-divider {
  color: #000;
  font-weight: 700;
}
.profession-duties {
  margin-top: 15px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
  margin-left: 15px;
}
.education-place {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
}
.education-profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
}
.education-time {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}
